@charset "utf-8";
/* CSS Document */

p {
	font-size: 30px;
        text-align: justify;
        text-justify: inter-word;
	
}

div {
	
	font-size: 40px;
	align-items: center;
	padding-left: 100px;
	padding-bottom: 30px;
}

h1 {
	
	font: 40px garamond;
	font-style: bold;
	font-size: 40px;
	background-image: linear-gradient(#6a5acd, white);
	padding: 10px 50px 0px 50px;
}

#grad1 {
	
	font: 40px garamond;
	font-style: bold;
	font-size: 40px;
	padding: 0px 0px 0px 0px;
	
}
